button {
  display: block;
  width: 150px;
  background-color: #f08080;
  border: none;
  margin-bottom: 10px;
  cursor: pointer;
  padding: 5px 0;
  transition: background-color 0.3s ease 0s;
  border-radius: 8px;
  @media (any-hover: hover) {
    &:hover {
      background-color: #b95454;
    }
  }
}
