* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
  margin-bottom: 15px;
  border: #000 1px solid;
  padding: 5px;
  width: 200px;
}
p:not(:last-child) {
  margin-bottom: 8px;
}
