<input type="text" [(ngModel)]="name" />
<button (click)="sendToParrent()">Send</button>

@if (isVisible) {

<ul>
  @for (item of toDoList; track $index) {
  <li>
    <label>
      {{ item.title }}
      <input type="checkbox" [(ngModel)]="item.checked" />
    </label>
  </li>
  }
</ul>
}
<!-- <button (click)="showed()">Show</button> -->
<input type="text" [(ngModel)]="todo" />
<button (click)="addItem()">Add</button>

<input
  type="text"
  placeholder="Пошук"
  [(ngModel)]="searchTerm"
  (keyup.enter)="updateList()"
/>
<button (click)="showAll()">Show All</button>
<button (click)="checkItem()">Checked</button>
<button (click)="newed()">New</button>
