button {
  display: block;
  margin-bottom: 20px;
  background-color: lightblue;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  @media (any-hover: hover) {
    &:hover {
      background-color: lightskyblue;
    }
  }
}
input {
  margin-bottom: 5px;
}
li {
  list-style: none;
  margin-bottom: 5px;
}
label {
  user-select: none;
}
